@font-face {
    font-family: 'agency_fbregular';
    src: url('../fonts/agencyfb-webfont.eot');
    src: url('../fonts/agencyfb-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/agencyfb-webfont.woff2') format('woff2'),
    url('../fonts/agencyfb-webfont.woff') format('woff'),
    url('../fonts/agencyfb-webfont.ttf') format('truetype'),
    url('../fonts/agencyfb-webfont.svg#agency_fbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #1F1F1F;
    color: #888;
    font-family: 'agency_fbregular', '仿宋';
    font-size: 18px;
}
a {
    transition: all 0.20s ease-out;
    text-decoration: none;
}

a:hover {
    color: #eefbff!important;
    text-shadow: 0 0 10px #3792E1;
    text-decoration: none;
}

a:active, a:focus, a:visited {
    color: #4183c4;
}


::-webkit-scrollbar {
    height: 10px;
    width: 5px;
    background: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.btn-write-border {
    border: solid 1px #888;
    color: #999;
}

.btn-write-border:hover {
    border-color: #f1f1f1;
    color: #ececec;
}

.pagination>li>a, .pagination>li>span {
    background: transparent;
    border-color: #888;
    font-size: 14px;
    color: #888;
}

.pagination>li>a:hover {
    background-color: #337ab7;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    border-color: #888;
    background-color: #3c3c3c;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
}

.pager li > a, .pager li > span {
    background-color: transparent;
    color: #888;
    border: 0;
}

.pager li.disabled > a, .pager li.disabled > span {
    background: transparent;
    color: #666;
}

.pager li > a:hover {
    background-color: #337ab7;
}

.pager li.disabled > a:hover {
    background: transparent;
    color: #3c3c3c!important;
    text-shadow: none;
}

body > .container {
    padding-top: 55px;
    background: #2C2827;
}

.d-recommend {
    padding-bottom: 15px;
    border-bottom: solid 1px #3c3c3c;
    margin-bottom: 15px;
}

.d-recommend article {
    position: relative;
    padding-bottom: 45px;
}

.d-recommend article > .btn-write-border {
    position: absolute;
    bottom: 15px;
    right: 0;
}

.d-recommend article > .d-c-header > .d-c-title {
    font-size: 32px;
    margin: 0 0 10px 0;
    color: #4183c4;
    font-family: 'agency_fbregular', '楷体';
}

.d-recommend article > .d-c-header > .d-c-title > a {
    color: #4183c4;
    text-decoration: none;
}

.d-recommend article > .d-c-header > .d-c-title > a:hover {
    color: #eefbff;
}

.d-recommend article > .d-c-header > .d-c-info {
    font-size: 14px;
    color: #e5e5e5;
}

.d-recommend article > .d-c-header > .d-c-info > span {
    margin-left: 10px;
}

.d-recommend article > .d-c-header > .d-c-info > span:first-child {
    margin-left: 0;
}

.d-recommend article > .d-c-body {
    margin: 15px 0;
}

.d-recommend ul.d-recommend-more {
    list-style: none;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.05);
}

.d-recommend ul.d-recommend-more > li > a {
    padding: 8px 15px;
    box-sizing: border-box;
    border: solid 1px rgba(0, 0, 0, 0);
    display: block;
    text-decoration: none;
}

.d-recommend ul.d-recommend-more > li > a:hover {
    border: solid 1px #4d4d4d;
    color: #eefbff;
}

.d-recommend ul.d-recommend-more > li > a > strong {
    font-weight: normal;
    font-family: 'agency_fbregular', '楷体';
    font-size: 20px;
}

.d-recommend ul.d-recommend-more > li > a > p {
    color: #888;
    margin: 0;
    font-size: 16px;
    transition: all 0.20s ease-out;
}

.d-recommend ul.d-recommend-more > li > a:hover > p {
    color: #f7f7f7;
    text-shadow: none;
}

.d-recommend-more .label {
    font-weight: normal;
    vertical-align: middle;
    float: left;
    margin-right: 5px;
    font-size: 14px;
}

.d-main {
    margin: 0 -15px 15px -15px;
}

ul.d-post-container {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.d-post-container > li {
    border-top: solid 1px #3c3c3c;
    padding: 8px 0;
}

ul.d-post-container > li:first-child {
    border-top: none;
    padding-top: 0;
}

ul.d-post-container > li > .d-post-header > .d-post-info {
    font-size: 16px;
    color: #e5e5e5;
}

ul.d-post-container > li > .d-post-header > .d-post-info > span:first-child {
    margin: 0;
}

ul.d-post-container > li > .d-post-header > .d-post-info > span {
    margin-left: 20px;
}

ul.d-post-container > li > .d-post-header > .d-post-info a {
    color: #e5e5e5;
}

ul.d-post-container > li > .d-post-header > .d-post-title > a {
    font-family: 'agency_fbregular', '楷体';
    font-size: 24px;
    vertical-align: middle;
}

ul.d-post-container > li > .d-post-header > .d-post-title > span.label {
    vertical-align: middle;
    font-weight: normal;
}

.d-post {
    margin: 0 -15px;
    box-sizing: border-box;
    border-top: solid 1px #3c3c3c;
    padding-bottom: 20px;
    padding-top: 15px;
}

.d-post:first-child {
    padding-top: 0;
    border-top: none;
}

.d-post:after {
    content: " ";
    display: block;
    clear: both;
}

.d-post > .d-post-header {
    position: relative;
    margin-bottom: 15px;
    vertical-align:middle;
}

.d-post > .d-post-header > .d-post-title {
    font-family: 'agency_fbregular', '楷体';
    font-size: 32px;
    border-left: solid 5px #888;
    padding: 0 15px 0 10px;
    margin-bottom: 10px;
    color: #4183c4;
}

.d-post > .d-post-header > .d-post-info {
    font-size: 16px;
    color: #e5e5e5;
    padding: 0 15px;
    background: #3c3c3c;
    line-height: 32px;
}

.d-post > .d-post-header > .d-post-info a {
    color: #e5e5e5;
}

.d-post > .d-post-header > .d-post-info > span {
    margin-left: 20px;
}

.d-post > .d-post-header > .d-post-info > span:first-child {
    margin-left: 0;
}

.d-post > .d-post-body {
    margin: 15px 0 35px 0;
    padding: 0 15px;
}

.d-post > .btn-write-border {
    margin-right: 15px;
}

.d-post-notice {
    background-color: #3c3c3c;
    padding: 10px;
    font-size: 16px;
}

.d-site-column-container {

}

.d-site-column {
    background: rgba(255, 255, 255, 0.05);
    margin-top: 15px;
}

.d-site-column:first-child {
    margin-top: 0;
}

.d-site-column > .d-c-header {
    border-bottom: solid 1px #3c3c3c;
    font-family: 'agency_fbregular', '楷体';
    font-size: 20px;
}

.d-site-column > .d-c-header > .d-c-title {
    line-height: 40px;
    border-left: solid 5px #4183c4;
    padding-left: 10px;
    box-sizing: border-box;
}

.d-site-column > .d-c-body {
    padding: 10px 15px;
}

.d-nav {
    background-color: #1A1A17;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
}

.d-nav > .container {
    padding: 0;
}

.d-nav-fix-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}


.d-nav .d-nav-head > .d-nav-brand > h1 {
    margin: 0;
    font-size: 32px;
    color: #f7f7f7;
}

.d-site-column-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.d-site-column-list > li > a {
    line-height: 30px;
    font-size: 16px;
}

.d-site-column-list > li > a > strong {
    font-weight: normal;
}

.d-error {
    text-align: center;
}

.d-error h2 {
    font-size: 32px;
}

.d-error p {
    font-size: 48px;
}

#category-list > li > .badge, #tag-list > li > .badge {
    font-weight: normal;
    background: #265780;
    border-radius: 8px;
}

#record-number {
    padding: 15px 0;
}

.d-site-column-list-inline > li {
    display: inline-block;
    margin-right: 8px;
}

.d-site-column-list > li span, .d-site-column-list > li a {
    vertical-align: middle;
}

footer {
    text-align: center;
    font-size: 16px;
    border-top: solid 1px #3c3c3c;
    padding: 20px 0;
}

footer p {
    margin: 0;
    line-height: 24px;
}

footer a {
    color: #888!important;
}